<div class="winner-weekWrapper">
    <h2>Победители недели с 29.10&ndash;04.11.18</h2>
    <div class="winners-list">

        <h3>Биваны</h3>

        <ol>
        {{range .}}{{if not .Tubing}}
            <li>
            {{.Number}}
                <span class="city">{{.City}}</span>
            </li>
        {{end}}{{end}}
        </ol>

        <h3>Полотенца</h3>

        <ol>
        {{range .}}{{if .Tubing}}
            <li>
            {{.Number}}
                <span class="city">{{.City}}</span>
            </li>
        {{end}}{{end}}
        </ol>
    </div>
</div>